certifi==2017.11.5
chardet==3.0.4
docker==2.7.0
docker-pycreds==0.2.1
enum-compat==0.0.2
idna==2.6
netifaces==0.10.6
requests==2.18.4
six==1.11.0
tornado==4.5.2
urllib3==1.22
websocket-client==0.45.0
zeroconf==0.19.1
